body{
    background-color: #3c4747;
}
@keyframes neon{

    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 0 0px var(--cor-neon));
    }
}
.exte{
    background-color: rgb(69, 71, 71);
    border: solid;
    height: 695px;
    width: auto;
}
.list{
    background-color: rgba(51, 50, 47, 0.829);
    
    border: solid 5px hsl(120, 100%, 52%);
    height: 200px;
    width: auto;
    margin: 13px;
}
.card{
        background-color: #58b458;
    border: solid #06ff06 5px;
    animation: neon 0s alternate ease-in-out;
    border-radius: 30px;

    word-wrap: break-word;

    margin-top: 15px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #07ff07f6;
    
    text-align: center;
    line-height: 100px;

    height: 160px;
    max-inline-size: 500px;
    margin-left: auto;
    margin-right: auto;

    


    width: 500px;
}
.card:hover{
    transition: 0.5s;
    background-color: #00fd00cb;
    color: rgba(43, 250, 1, 0.438);
    cursor:pointer;
}
.card:not(:hover){
    transition: 0.5s;
}
.barra{
    background-color: #09ff0036;
    border: solid;
    width: 390px;
    height: 460px;
    margin-left: 15px;

}
.centro{
    background-color: #7c817b9f;
    border: solid 5px #51ff01;
    
    position: relative;
    right: auto;
    bottom: -37px;
    
    word-wrap: break-word;

    height: 440px;
    width:auto;
}
.pesquisa{
    background-color: #3ac53a;
    border:solid 4px #00fd00e5;
    border-bottom-right-radius: 20px;    
    border-bottom-left-radius: 20px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 300px;
    text-align: center;
}
.cor{
    background-color: #8af37c;;
    color:rgb(15, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;
}
input:hover{
    transition: 0.5s;
    background-color: #3dff02cb;
}
input:not(:hover){
    transition: 0.5s;
}
.btn{
    background-color: #00fd00cb;
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;
}
.rgb{
    background-color: #3c4747;
    text-align: center;
    line-height: 40px;
    border: solid #06ff06;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    margin-top: -40px;
    margin-left: 1350px;
    height: 35px;
    width: 100px;
}
.R {
    height: 16px;
    background-color: rgb(255, 0, 0);
    border:solid red;
    cursor: pointer;
}
.G {
    height: 16px;
    background-color: rgb(6, 255, 18);
    border:solid rgb(6, 255, 18);
    cursor: pointer;
}
.B {
    height: 16px;
    background-color: rgb(5, 9, 252);
    border:solid rgb(5, 9, 252);
    cursor: pointer;
}
.A{
    height: 16px;
    border: solid white;
    cursor: pointer;
}
@keyframes RGB{
    0%{
        background-color: rgb(207, 38, 38);
    }50%{
        background-color: #06ff06bd;
    }100%{
        background-color: rgb(47, 47, 197);
    }
}
.R:hover{
    border: solid;
}
.G:hover{
    border: solid;
}
.B:hover{
    border: solid;
}
.A:hover{
    border: solid;
}
button{
    border-radius: 100%;
}
.info{
    background-color: white;
    border: solid #06ff06;
    text-align:justify;
    height: 440px;
    width: 572px;
    margin-left: auto;
    margin-top: -37.8px;
    position:relative;
    word-wrap: break-word;
}