body{
    background-color: #3c4747;
}
@keyframes neon{

    from{
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to{
        filter: drop-shadow(0 0 0px var(--cor-neon));
    }
}
.exte{
    background-color: rgb(69, 71, 71);
    border: solid;
    height: 695px;
    width: auto;
}
.list{
    background-color: rgba(51, 50, 47, 0.829);
    
    border: solid 5px hsl(120, 100%, 52%);
    height: 200px;
    width: auto;
    margin: 13px;
}
.card{
        background-color: #58b458;
    border: solid #06ff06 5px;
    animation: neon 0s alternate ease-in-out;
    border-radius: 30px;

    word-wrap: break-word;

    margin-top: 15px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #07ff07f6;
    
    text-align: center;
    line-height: 100px;

    height: 160px;
    max-inline-size: 500px;
    margin-left: auto;
    margin-right: auto;

    


    width: 500px;
}
.card:hover{
    transition: 0.5s;
    background-color: #00fd00cb;
    color: rgba(43, 250, 1, 0.438);
    cursor:pointer;
}
.card:not(:hover){
    transition: 0.5s;
}
.barra{
    background-color: #09ff0036;
    border: solid;
    width: 390px;
    height: 460px;
    margin-left: 15px;

}
.centro{
    background-color: #7c817b9f;
    border: solid 5px #51ff01;
    
    position: relative;
    right: auto;
    bottom: -37px;
    
    word-wrap: break-word;

    height: 440px;
    width:auto;
}
.pesquisa{
    background-color: #3ac53a;
    border:solid 4px #00fd00e5;
    border-bottom-right-radius: 20px;    
    border-bottom-left-radius: 20px;

    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 300px;
    text-align: center;
}
.cor{
    background-color: #8af37c;;
    color:rgb(15, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;
}
input:hover{
    transition: 0.5s;
    background-color: #3dff02cb;
}
input:not(:hover){
    transition: 0.5s;
}
.btn{
    background-color: #00fd00cb;
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;
}
.rgb{
    background-color: #3c4747;
    text-align: center;
    line-height: 35px;
    border: solid #06ff06;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    top: 402px;
    margin-left: 1350px;
    height: 35px;
    width: 100px;
}
.R {
    height: 16px;
    background-color: rgb(255, 0, 0);
    border:solid red;
    cursor: pointer;
}
.G {
    height: 16px;
    background-color: rgb(6, 255, 18);
    border:solid rgb(6, 255, 18);
    cursor: pointer;
}
.B {
    height: 16px;
    background-color: rgb(5, 9, 252);
    border:solid rgb(5, 9, 252);
    cursor: pointer;
}
.A{
    height: 16px;
    border: solid white;
    cursor: pointer;
}


@keyframes f{
    0%{
        background-color:solid #00fd00cb ;
        color: #07ff07f6;
    }40%{
        background-color:solid #6D5CD8;
        color: white;
    }50%{
        background-color:solid #6D5CD8;
        color: white;

    }80%{
        background-color:solid #c68080 ;
        color: white;
    }100%{
        background-color:solid #00fd00cb ;
        color: #07ff07f6;

    }
}

.R:hover{
    border: solid;
}
.G:hover{
    border: solid;
}
.B:hover{
    border: solid;
}
.R:active{
    border: solid green;

}
.G:active{
    border: solid green;

}
.B:active{
    border: solid green;

}
button{
    border-radius: 100%;
}
a{
    line-height: 30px;
    display: block;
    text-align: center;
    margin-top: 5px;
    font-weight: 100;
    font-family: inherit;
    margin-left: 5px;
    margin-right: 970px;
    width: 180px;
    font-size: 19px;
    border: groove 3px;
    border-radius: 15px;
    word-wrap:normal;
}
a:hover{
    border: solid;
    background-color: rgb(100, 32, 100);
    color: white;
}
a:active{
    border: solid black;
}
.info{
    background-color: rgba(255, 255, 255, 0.753);
    display: none;
    border-top-left-radius: 50px;
    border: solid 5px #06ff06;
    text-align:center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    position:inherit;
}
#scroll{
    width: 900px;
    height: 395.9px;
    overflow: auto;

}
